* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.bg1-color {
    background-color: rgba(21, 44, 33, 0.644);
    color: white;
}

.weight {
    font-weight: bold;
    text-decoration: underline;

}

.size {
    font-weight: bolder;

}

.bg2-color {
    background-color: rgb(1, 235, 235);
}

section {
    padding: 10px 0;
}

.mtn {
    background-color: transparent;
    border: 1px solid white;
}

.atn {
    background-color: rgb(0, 167, 167);
    border: 1px solid rgb(0, 167, 167);
}

.bgy {
    background-color: rgba(43, 41, 41, 0.623);
}